extends layout 

block content 
  .container.page-container
    .col-md-10.col-lg-8.m-auto
      h6.title.mb-4.mt-5.pt-5 Ticketverkoop 

      form(method='POST' action='')
        select(name='tribune')
          each tribune in tribunes
            option(value=tribune._id) Tribune #{tribune.number} (€#{tribune.price})

        input.form-control(type='text' name='first_name' size='100%' placeholder='Je voornaam' required='true')

        input.form-control(type='text' name='last_name' placeholder='Je familienaam' required='true')

        input.form-control(type='email' name='email' placeholder='Je email' required='true')

        input.form-control(type='text' name='birth_date' placeholder='Je geboortedatum' required='true' onfocus="this.type='date'")

        label(for='policy')  
        p
         input(type='checkbox' name='policy' required='true')
         | Ga je akkoord met onze #[a(href='/privacypolicy') voorwaarden]?

        input.form-control(type='hidden' name='_csrf' required='true' value=csrfToken)

        input.form-control(type='reset')
        
        input.form-control(type='submit' value='Bestel')

      // Eigenlijk niet nodig, maar voor de zekerheid
      if errors 
        ul 
          each error in errors
            li!= error.msg

        

    
